.app{
    margin:0;
    padding:0
}

#navbarNav{
    justify-content: space-between;
}

.navbar{
    display: flex;
    width:100%;
    padding-top: 11px;
    padding-bottom: 11px;
    flex-direction: row;
}

.navbar-brand{
height: 32px;
}

.navbar-brand img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.midsection{
    display: flex;
    margin-right: 20%;
}

.midsection a{
    display: flex;
    letter-spacing: normal !important;
}


.nav-link{
    margin-right: 8px;
    padding: 20px 15px;
    color:#595d66;
    font-weight: 400;
}

.nav-right{
    display: flex;
    align-items: center;
    position: relative;
    float: right;
}

.nav-right div{
    display: flex;
    width: auto;
    justify-content: flex-end;
}

.nav-right a{
    margin-left: 8px;
    font-size: 15px;
    line-height: 20px;
}

.nav-right a button{
    margin-left: 8px !important;
    background-color: transparent;
    border:1px solid  #2281c2;
    border-radius: 8px;
    padding: 5px;
    color:#2281c2;
}

.container .hero{
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: row;
    color: #fff;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.div_form_horizontal_form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.rebrand-link-block {
    width: 60%;
    margin: 0 auto;
    clear: none;
}


.w-form {
    margin: 0 0 15px;
}

.form-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.url-btn{
    margin-left: 8px;
    background: #2281c2;

    color: #fff;
 
    border: 1px solid transparent;
    /* padding: 8px; */
    border-radius: 7px;
}

.shortened-links-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shortened-links-list-item:first-child {
    margin-top: 25px;
}
.links-list-item.shortened-links-list-item-copy {
    position: relative;
}

.shortened-links-list-item {
    width: 100%;
    border: 1px solid #02af63;
    background: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 12px;
    animation: .2s ease-out;
}

.shortened-links-list-item .origin-link {
    color: #263849;
    font-size: 20px;
    white-space: nowrap;
}

.shortened-links-list-item .origin-link, .shortened-links-list-item .short-link {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 37%;
}

.shortened-links-list-item .short-link {
    color: #3180c5;
    font-size: 20px;
}

.shortened-links-list-item .copy-link{
    color: #3180c5;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    padding: 4px 15px;
    border-radius: 4px;
}

a{
    color:#3180c5 ;
    text-decoration: none;
}
.banner-content-block {
    width: 62%;
}

.banner-text-block {
    margin-bottom: 36px;
}

h1 {
    margin-bottom: 16px;
    font-family: sans-serif;
    font-size: 46px;
    line-height: 54px;
    font-weight: 500;
    letter-spacing: -.1px;
}

.p-lg-2.text-dark_hero {
    display: block;
    width: 84%;
    margin-top: 10px;
    color: #595d66;
    font-size: 20px;
}

.Button {
    font-family: sans-serif!important;
    font-weight: 400;
}

.Button--primary {
    background: #2281c2;
   
    color: #fff;
   
    border: 1px solid transparent;
}

.Button--lg {
    padding: 10px 30px;
    font-size: 1.25rem;
    font-size: var(--display-small);
    line-height: 1.4;
}
.Button--block {
    width: 100%;
}

.hero-container {
    position: relative;
}

.hero-cta {
    width: 466.93px;
}

.hero-container img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}